{% set defaultPagePadding = "45,15,25,25"|split(",") %} {# top, right, bottom, left #}
{% set pagePadding = pagePadding|default(defaultPagePadding) %}

<style>
    .marks {
        position: absolute;
        left: {{ 5 - pagePadding.3|number_format }}mm ;
        margin-left: 0;
        width: 7px;
        height: 0;
        border-top: 1px solid silver;
    }

    .foldtop {
        top: {{ 105 - pagePadding.0|number_format }}mm
    }

    .foldbottom {
        top: {{ 210 - pagePadding.0|number_format }}mm
    }

    .punch {
        top: {{ 148.5 - pagePadding.0|number_format }}mm
    }
</style>

{# fold marks #}
<div class="marks foldtop"></div>
<div class="marks foldbottom"></div>

{# punch mark #}
<div class="marks punch"></div>