{% set showLogo = showLogo|default(true) %}

{% block pdfHeader %}
    <div class="header">
        {% if showLogo %}
            {# pdf logo is available only in non admin theme #}
            {% set isAdmin = viewConfig.isAdmin() %}
            {{ viewConfig.setAdminMode(false) }}
            <img class="logo" alt="Logo" src="{{ viewConfig.getImageUrl('pdf_logo.jpg') }}">
            {{ viewConfig.setAdminMode(isAdmin) }}
        {% endif %}
    </div>
{% endblock %}