{% set showLogo = showLogo|default(1) %}

{% block pdfHeader %}
    <div class="header">
        {% if showLogo %}
            {% block pdfHeaderLogo %}
                <img class="logo" alt="Logo" src="{{ oViewConf.getModulePath('d3PdfDocuments', 'out/img/clogo.jpg') }}">
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}