{% set showLogo = showLogo|default(1) %}

{% block pdfHeader %}
    <div class="header">
        {% if showLogo %}
            {% block pdfHeaderLogo %}
                {% set logoUrl = config.getConfigParam('d3PdfDocumentsLogoUrl') | default( oViewConf.getModulePath('d3PdfDocuments', 'out/img/clogo.jpg') ) %}
                <img class="logo" alt="Logo" src="{{ logoUrl }}">
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}